ee==0.4
matplotlib==3.3.4
numpy==1.21
Pillow==9.0.0
protobuf==3.19.3
PyYAML==6.0
rasterio==1.2.9
scikit_learn==1.0.2
segmentation_models==1.0.1
tensorflow==2.7.0
tensorflow_addons==0.14.0
wandb==0.12.9
